In [3]:
#1、get dataset
#2、Merge table
#3、Find the relationship between user_ID and aisle
#4、PCA dimensionality reduction

In [4]:
import pandas as pd

In [6]:
#1、get dataset
order_products=pd.read_csv("./instacart/order_products__prior.csv")
products=pd.read_csv("./instacart/products.csv")
orders=pd.read_csv("./instacart/orders.csv")
aisles=pd.read_csv("./instacart/aisles.csv")

In [12]:
products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

2.Merge table
order_products__prior.csv：Order and product information

fields：order_id, product_id, add_to_cart_order, reordered
products.csv：product information

fields：product_id, product_name, aisle_id, department_id
orders.csv：The user's order information
fields：order_id,user_id,eval_set,order_number,….
aisles.csv：The specific item category to which the product belongs
fields： aisle_id, aisle

In [13]:
#merge aisles and products aisle and product_id
tab1=pd.merge(aisles,products,on=["aisle_id","aisle_id"])

In [15]:
tab1

,aisle_id,aisle,product_id,product_name,department_id
0,1,prepared soups salads,209,Italian Pasta Salad,20
1,1,prepared soups salads,554,Turkey Chili,20
2,1,prepared soups salads,886,Whole Grain Salad with Roasted Pecans & Mango ...,20
3,1,prepared soups salads,1600,Mediterranean Orzo Salad,20
4,1,prepared soups salads,2539,Original Potato Salad,20
...,...,...,...,...,...
49683,134,specialty wines champagnes,47713,Sparkling Rose,5
49684,134,specialty wines champagnes,48984,Dry Sherry,5
49685,134,specialty wines champagnes,49438,Dry Fino Sherry,5
49686,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5
49687,134,specialty wines champagnes,49661,Porto,5

In [17]:
tab2=pd.merge(tab1,order_products,on=["product_id","product_id"])

In [19]:
tab2

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0
1,1,prepared soups salads,209,Italian Pasta Salad,20,192465,2,1
2,1,prepared soups salads,209,Italian Pasta Salad,20,195206,18,1
3,1,prepared soups salads,209,Italian Pasta Salad,20,227717,1,1
4,1,prepared soups salads,209,Italian Pasta Salad,20,260072,13,0
...,...,...,...,...,...,...,...,...
32434484,134,specialty wines champagnes,49661,Porto,5,2238789,10,1
32434485,134,specialty wines champagnes,49661,Porto,5,2251344,5,1
32434486,134,specialty wines champagnes,49661,Porto,5,2616249,2,0
32434487,134,specialty wines champagnes,49661,Porto,5,2715237,1,0
32434488,134,specialty wines champagnes,49661,Porto,5,3263901,6,1

In [22]:
tab3=pd.merge(tab2,orders,on=["order_id","order_id"])

In [23]:
tab3

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,22853,Pesto Pasta Salad,20,94246,4,0,114082,prior,26,0,20,1.0
2,4,instant foods,12087,Chicken Flavor Ramen Noodle Soup,9,94246,15,0,114082,prior,26,0,20,1.0
3,4,instant foods,47570,Original Flavor Macaroni & Cheese Dinner,9,94246,14,1,114082,prior,26,0,20,1.0
4,13,prepared meals,10089,Dolmas,20,94246,25,0,114082,prior,26,0,20,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,134,specialty wines champagnes,47713,Sparkling Rose,5,3014872,1,0,63218,prior,1,1,14,NaN
32434485,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,34570,1,1,37901,prior,13,3,9,13.0
32434486,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,250923,1,1,26431,prior,27,5,11,10.0
32434487,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,1319402,1,1,26431,prior,34,2,14,7.0
32434488,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,2298986,1,0,37901,prior,9,2,11,13.0

In [25]:
#3、Find the relationship between user_ID and aisle
table=pd.crosstab(tab3["user_id"],tab3["aisle"])

In [26]:
table

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206205,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
206206,0,4,0,0,0,0,4,1,0,0,...,1,0,0,0,0,1,0,1,0,0
206207,0,0,0,0,1,0,0,0,0,0,...,3,4,0,2,1,0,0,11,0,15
206208,0,3,0,0,3,0,4,0,0,0,...,5,0,0,7,0,0,0,0,0,33
206209,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3

In [27]:
data=table[:10000]

In [28]:
#4、 PCA dimensionality reduction
from sklearn.decomposition import PCA

In [29]:
#1、Instantiate a transformer class
transfer=PCA(n_components=0.95)
#2、call fit_transform
data_new=transfer.fit_transform(data)

In [30]:
data_new

array([[-2.36456828e+01,  2.30028678e+00, -2.71706275e+00, ...,
         8.24685231e-01, -5.20365905e-01,  2.99847178e+00],
       [ 6.95477119e+00,  3.54966052e+01,  2.52655545e+00, ...,
        -1.15326520e+00, -1.37969318e+00, -1.07115466e-02],
       [-7.47792843e+00,  2.83147785e+00, -1.07306519e+01, ...,
        -3.55104796e-01,  3.85595697e-02,  1.92318882e+00],
       ...,
       [-2.86664024e+01, -1.26446961e+00, -1.14908062e+00, ...,
         1.13859569e-03,  4.14189764e-01,  4.46163585e-01],
       [-2.88378748e+01, -1.70490822e+00, -1.47059942e+00, ...,
        -1.62743887e-01,  6.72795951e-01,  9.64403654e-02],
       [ 2.10412407e+02, -3.51935647e+01,  1.33671987e+01, ...,
         1.46544596e+01,  1.56764794e+01,  1.67432890e+01]])

In [31]:
data_new.shape

(10000, 42)